footer {
    position: absolute; /* Posiciona el footer respecto al contenedor más cercano con position: relative */
    bottom: 0; /* Siempre estará pegado al fondo */
    width: 100%; /* Para que ocupe todo el ancho */
    text-align: center;
    margin-top: 100px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    font-size: 0.9rem;
    color: #555;
}

#botonplayera{
    padding-left: 60px;
    padding-right: 60px;
    background-color: rgb(0, 99, 99);
    border-color: rgb(0, 99, 99);
}

#botonplayeratalla{
    
    background-color: rgb(0, 141, 141);
    border-color: rgb(0, 141, 141);
}