body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
main {
    padding: 20px;
}
.container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.card {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}
.card input,
.card textarea,
.card button,
.card select {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}
.add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
    border: 2px dashed #aaa;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #aaa;
}
.view-articles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
}
.view-articles:hover {
    background-color: #f0f0f0;
}